body {
  background-color: bisque;
}

h1 {
	font-style: italic;
	font-family: Geneva;
	text-align: center;
	color: skyblue;
}

h2 {
	font-style: normal;
	font-family: Georgia;
	text-align: center;
	color: crimson;
}

.photo {
  height: 600px; 
  background: url("http://imagine.pics/images/158/158350.jpg");
  background-attachment: scroll;
	text-align: right;
	font-family: 'Georgia';
	color: lightcyan;
	font-weight: bold;
	font-size: 50px;
}

.button-block {
  margin: 50px 0;
	text-align: center;
}

a.button {
	padding: 10px 20px;
	background: green;
	border: 4px solid grey;
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

a.button:hover {
	background: red;
}

a.button:active {
	border: 4px solid green;
}

.rounded {
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
margin-left: 20px;
}
.rounded a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: all .3s ease-out;
}
.rounded a:hover {
background: #E9E4E0;
}
.rounded a:hover:before {
transform: rotate(360deg);
}
.rounded a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #8FD4C1;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}



ul {
    background: #3399ff;
    padding: 20px;
}


ul li {
    background: #cce5ff;
    margin: 5px;
}

.footer{ 
  background: #fff url("http://s1.iconbird.com/ico/2013/9/438/w50h501380136477Android.png") no-repeat right top;
	padding: 15px;
	text-align: center;
}

