.jumbotron {
	background: url('../images/main.jpg') 0% 32%;
}

.jumbotron h1, .jumbotron p {
	color: #fff;
}

.navbar {
	margin-bottom: 0;
	border-radius: none;
    border-radius: 0 !important;
}

.navbar-btn {
	margin-left: 10px;
}

.login-header {
    background-color: #337ab7;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.signup-header {
    background-color: #3c763d;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}