body, h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

@import url('reset.css');

@font-face {
	font-family: Nexa-Bold;
	src: url('../fonts/Nexa Bold.otf');
}

@font-face {
	font-family: Nexa-Light;
	src: url('../fonts/Nexa Light.otf');
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

body {
	background: #ebebeb;
}

/* Header */

.header-logo {
	width: 100%;
	height: 66px;
	background: #373737;
}

.header-logo__content {
	width: 930px;
	margin: 0 auto;
	line-height: 66px;
}

.header-logo__text,
.header-logo__logo {
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;
}

.header-logo__text {
	color: #fff;
	font-family: Nexa-Light;
	margin-left: 5px;
}

/* Navigation */

.header-nav {
	width: 100%;
	height: 66px;
	background: #474747;
}

.header-nav__content {
	width: 930px;
	margin: 0 auto;
}

.nav {
	list-style-type: none;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.nav__item {
	float: left;
	padding: 25px 0;
}


.nav__link-wrapper {
	display: block;
	padding: 0 25px;
	border-right: 1px solid #767676;
	height: 11px;
	line-height: 11px;
}

.nav__link-wrapper_last {
	border: none;
}

.nav__link {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	position: relative;
}

.nav__link_active:after,
.nav__link:hover:after {
	content: '';
	position: absolute;
	display: block;
	height: 4px;
	background: #f26c4f;
	left: 0;
	right: 0;
	bottom: -27px;
}

/*content*/

.content {
	width: 930px;
	margin: 0 auto 90px;
}

.content__top-articles {
	margin-top: 10px;
}


.top-article {
	float: left;
	width: 300px;
	margin-left: 15px;
	background: #fff;
	borger-bottom: 1px solid #d3d3d3;
	position: relative;
	overflow: hidden;
}

.top-article_:after {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	border-style: solid;
	border-color: transparent #f26c4f transparent transparent;
	width: 0;
	height: 0;
	border-width: 0 70px 70px 0;
	z-index: 10;
	cursor: pointer;
}

.top-article:first-child {
	margin-left: 0;
}

.top-article__img {
	height: 210px;
	width: 100%;
}

.top-article__text {
	font-family: serif;
	padding: 25px 30px;
}

.top-article__header {
	font-size: 25px;
	margin-bottom: 20px;
}

.top-article__desc {
	font-size: 12px;
	color: #64646464;
	line-height: 25px;
}

/*side-feature*/

.side-feature {
	float: right;
	width: 300px;
	background: #373737;
	margin-top: 20px;
}


.side-feature__img {
	height: 210px;
	width: 100%;
}


.side-feature__text {
	font-family: Arial;
	padding: 25px 30px;
}

.side-feature__header {
	font-size: 20px;
	color: #FBFBEF;
	margin-bottom: 20px;
}

.side-feature__notheader {
	color: #FBFBEF;
	line-height: 25px;
	font-size: 12px;
}


/*link*/

.link {
	margin-top: 20px;
	width: 615px;
}

.link1 {
	margin-top: 20px;
	background: #ffffff;
	height: 175px;
	border-left: 5px solid #f26c4f;
}

.link1_text1 {
	text-align: left;
	font-size: 24pt;
	color: #606060;
	padding-top: 32px;
	padding-left: 35px;
	padding-bottom: 30px;
	font-family: Arial;
	font-weight: bolder;
}

.link1_text2 {
	text-align: left;
	font-size: 12pt;
	color: #f26c4f;
	font-family: Arial;
	font-weight: bolder;
	padding-left: 35px;
	padding-right: 57px;
}

.link2 {
	margin-top: 15px;
	background: #f26c4f;
	height: 175px;
	border-left: 5px solid #ce4e32;
}

.link2_text1 {
	text-align: left;
	font-size: 18pt;
	color: #ffffff;
	font-family: Arial;
	padding-top: 32px;
	padding-left: 35px;
	padding-bottom: 30px;
	font-family: Arial;
	font-weight: bolder;
}

.link2_text2 {
	text-align: left;
	font-size: 12pt;
	color: #ffffff;
	font-family: Arial;
	font-weight: bolder;
	padding-left: 35px;
	padding-right: 57px;
}
