* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,.7);
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	min-height: 100%;
	min-width: 100%;
}

h1 {
	color: white;
	font-family: courier;
	font-size: 5rem;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	text-transform: uppercase;
	font-weight: normal;
}