body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	background: url(http://www.motto.net.ua/old_site//img/textures/1283882662_C1F3ECE0E6EDFBE920F4EEED203038203038.jpg);
}

.header {
	height: 60px;
	background: #333;
	position: fixed;
	
}

.header .menu {
	width: 1024px;
	margin: 0 auto;
	
}

.header .menu ul {
	list-style-type: none;
	margin: 0;
}

.header .menu ul:after {
	content: "";
	display: block;
	clear: both;
}

.header .menu ul li {
	float: left;
}	

.header .menu ul li a {
	color: white;
	text-decoration: none;
	padding: 21px 22px;
	display: block;
}

.header .menu ul li a:hover {
	background: #4caf50;
}

.header .menu ul li:last-child {
	float: right;
}

.gallery {
	width: 1024px;
	margin: 10px auto;
}

img {
	width: 100%;
}

.img-block {
	float:left;
	width: 250px;
	margin: 0 3px;
	outline: solid 1px black;
	background-color: silver;
}

.img-block:hover {
	opacity: 0.8;
}
	
.gallery:after {
	content: "";
	display: block;
	clear: both;
}

.img-block div {
	text-align: center;
	font-size: 17px;
}

h1 {
	text-align: center;
	font-family: fantasy
}

.active {
	background: #4caf50;
}

.text-image-left {
	float:left;
	margin: 0 10px;
}

.text-image-right {
	float:right;
	margin: 0 10px;
}

p {
	text-align: justify;
	font-family: fantasy;
}

.text-image-left img {
	width: 300px;
}

.text-image-right img {
	width: 300px;
}

footer {
	height: 50px;
	background: #333;
}

.social-buttons {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.social-buttons img {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	margin: 7px 0;
	
}