@import url("reset.css");
@font-face{
	font-family: Nexa-Bold;
	src: url("../fonts/Nexa Bold.otf");
}

@font-face{
	font-family: Nexa-Light;
	src: url("../fonts/Nexa-Light.otf");
}

html{
	height: 100%;
}

body{
	background: #EBEBEB;
	font-family: Arial;
	min-height: 100%;
	position: relative;
	padding-bottom: 140px;
}


.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}

.g-block-width{
	width: 930px;
	margin: 0 auto;
}

/* create icons */
.icon13 {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	vertical-align: middle;
    background: url("../images/icons-sprite.png") no-repeat; 
}

.icon13-twitter {
    background-position: -1px -2px;
}

.icon13-facebook {
	background-position: -1px -15px;
}

.icon13-rss {
	background-position: -16px -2px;
	vertical-align: bottom;
}

.icon13-mail {
	background-position: -15px -16px;
	vertical-align: bottom;
}

.icon14 {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 2px;
	vertical-align: middle;
    background: url("../images/icons-sprite.png") no-repeat; 
}

.icon14-star_grey{
	background-position: -73px -16px;
}

.icon14-star_white{
	background-position: -73px -1px;
}

.icon14_2 {
	display: inline-block;
	width: 7px;
	height: 14px;
	margin: 0 2px;
	vertical-align: middle;
    background: url("../images/icons-sprite.png") no-repeat; 
}

.icon14_2-star_grey {
	background-position: -73px -16px;
}


.header{
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	background: #373737;
}

/* logo */
.header-logo{
	height: 66px;
	background: url("../images/logo.png") left no-repeat;
	line-height: 66px;
}

.header-logo__content{
	font-family: Nexa-Light;
	margin-left: 100px;
/*	vertical-align: middle;*/
	color: white;
/*	font-weight: bold;
	font-size: 120%;*/
}

/* header nav */
.header-nav{
	width: 100%;
	background: #474747;
}

.header-nav__content{
	height: 66px;
}

.nav{
	list-style-type: none;
	font-family: Arial;
}

.nav__item{
	position: relative;
	display: inline-block;
}

.nav__item:after{
	position: absolute;
	right: 0;
	width: 1px;
	height: 11px;
	top: 28px;
	content: "";
	background: #767676; /*#8B8B8B;*/
}

.nav__item-last:after{
	width: 0px;
	height: 0px;
}

.nav__link-wrapper{
	height: 66px;
	line-height: 66px;
}


.nav__link{
	position: relative;
	color: white;
	text-decoration: none;
	display: block;
	vertical-align: middle;
	margin-right: 28px;
	margin-left: 20px;
}

.nav__link:hover:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	height: 4px;
	background: #F26C4F;
	bottom: 0px;
}

.nav__link_active:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	height: 4px;
	background: #F26C4F;
	bottom: 0px;
}

/* Search and Social nav*/
.search-n-social{
	height: 70px;
	margin-top: 135px;
}

/* search form */
.search{
	float: left;
	display: block;
	border-right: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	width: 300px;
	height: 48px;	
	margin: 13px 0px 8px 0px;
}

.search-form{
	position: relative;
	height: 48px;
	background: white;
}

.search-form__query,.search-form__button{
	border: none;
	display: inline-block;
	background: white;
}

.search-form__query{
	font-family: Arial;
	margin-left: 20px;
	margin-top: 15px;
	height: 17px;
	width: 200px;
	font-size: 12pt;
	color: #BABABA;
	outline: none;
}

.search-form__query:hover{
	border: 1px solid #C9C9C9;
	color: black;
}


.search-form__button{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	margin: 4px;
	color: white;
	background: url("../images/clock.png") center center no-repeat;
}
.search-form__button:hover{
	border: 1px solid #C9C9C9;
	cursor: pointer;
}

/* social */
.social{
	float: right;
	width: 300px;
	height: 48px;
	margin: 14px 0px 8px 0px;
}

.social-nav{
	list-style-type: none;
	height: 48px;
	margin-top: 18px;
}

.social-nav__item{
	display: block;
	float: left;
}


.social-nav__link-wrapper{
	line-height: 22px;
	height: 22px;
}

.social-nav__link{
  	display: inline-block;
	text-decoration: none;
	color: #8F8F8F;
	font-family: Arial;
	font-size: 12px;
	font-stretch: condensed;
	letter-spacing: -1px;
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
}

.social-nav__link-image{
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.social-nav__link-wrapper_twitter{
	margin-right: 39px;
}
.social-nav__link-wrapper_facebook{
	margin-right: 25px;
}
.social-nav__link-wrapper_rss{
	margin-right: 25px;
}

/* Big block */
.big-block{
	height: 391px;
}
.big-block-left-side{
	float: left;
	position: relative;
	width: 630px;  
	height: 100%;
	background: url("../images/bridge.jpg");

}

.big-block-left-side__caption{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	width: 364px;
	height: 63px;
	line-height: 63px;
}

.big-block-left-side__caption-text{
	color: white;
	font-family: Arial;
	letter-spacing: -1px;
	margin-left: 30px;
	font-size: 16pt;
	vertical-align: middle;
}

.big-block-right-side{
	position: relative;
	width: 300px;  
	background: #373737;
	float: right;
	height: 100%;
}

.big-block-right-side__header{
	margin-top: 40px;
	margin-left: 46px;
	width: 212px;
	font-size: 19pt;
	letter-spacing: -1px;
	text-align: left;
	color: white;
}

.big-block-right-side__link{
	text-decoration: none;
	color: white;
}

.big-block-right-side__link:hover{
	color: #7b7b7b;
	cursor: pointer;
}

.big-block-right-side__text{
	margin-top: 16px;
	margin-left: 46px;
	width: 212px;
	line-height: 19pt;
	font-size: 12pt;
	letter-spacing: -0.8px;
	text-align: left;
	color: #a7a7a7;
}

.big-block-right-side__time-wrapper{
	display: inline-block;
	line-height: 18px;
	margin-top: 17px;
	margin-left: 46px;
	width: 212px;
	height: 18px;
}
.big-block-right-side__time{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 12pt;
	letter-spacing: -0.7px;
	text-align: right;
	vertical-align: middle;
	color: #a7a7a7;
}

.big-block-right-side__clock{
	height: 18px;
	vertical-align: top;
	margin-right: 5px;
}


.big-block-right-side:before{
	position: absolute;
	width: 9px;
	height: 100%;
	content:"";
	top: 0;
	left: 0;
	background: #F26C4F;
}

.big-block-right-side:after{
    content: ''; 
    position: absolute; 
    left: 9px; 
    top: 40px; 
    border: 15px solid transparent; 
    border-left: 15px solid #F26C4F; 
}

/* 3 pictures */
.top-articles{
	margin-top: 10px;
}

.top-article{
	float: left;
	width: 300px;
	margin-left: 15px;
	background: #fff;
	border-bottom: 1px solid #d3d3d3;
	position: relative;
}

.top-article:after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 70px 70px 0;
	border-color: transparent #f26c4f transparent transparent;
	cursor: pointer;
	z-index: 10;
}

.top-article__plus{
	position: absolute;
	top: 15px;
	right: 13px;
	z-index: 20;
}

.top-article:first-child{
	margin-left: 0px;
}

.top-article__img{
	height: 210px;
	width: 100%;
}

.top-article__text{
	padding: 25px 30px;
	font-family: Arial;
}

.top-article__header{
	font-size: 25px;
	margin-bottom: 20px;
}

.top-article__link{
	text-decoration: none;
	color: #4f4f4f
}

.top-article__link:hover{
	color: #7b7b7b;
}

.top-article__desc{
	font-size: 12px;
	color: #646464;
	line-height: 25px;
}

.main-block{
	display: block;
	margin-top: 10px;
	margin-bottom: 120px;
}

.content-block{
	float: left;
	width: 615px;
	margin-right: 15px;
}

.text-block{
	position: relative;
	background: white;
	padding: 40px 36px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;

}

.text-block_small-padding{
	padding: 20px 36px;
}

.text-block:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 4px;
	background: #f26c4f;
	content: "";
}

.text-block__head{
	font-size: 24px;
}

.text-block__head_18px{
	font-size: 18px;
}

.text-block__link{
	text-decoration: none;
	color: #4f4f4f;
}

.text-block__link:hover{
	color: #7b7b7b;
}

.text-block:hover .text-block__movie-tape{
	visibility: visible;
}


.text-block-votes{
	font-size: 10px;
	color: #cfcfcf;
}

.text-block-votes__part{
	position: relative;
	display: inline-block;
	height: 21px;
	line-height: 21px;
	padding: 0 26px;
}

.text-block-votes__part_first{
	padding-left: 0;
}

.text-block-votes__part_first:after{
	width: 0px;
	height: 0px;

}

.text-block__movie-tape{
	position: absolute;
	display: block;
	left: -50px;
	top: 50%;
	margin-top: -11px;
}

.text-block__movie-tape_invsible{
	visibility: hidden;
}


.text-block-votes__part:after{
	position: absolute;
	width: 1px;
	background: #dfdfdf;
	left: 0;
	top: 0;
	bottom: 0;
	content: "";

}


.text-block-votes__part_last{
	padding-left: 0px;
}


.text-block-votes__part_last:after{
	width: 0px;
	height: 0px;
}


.text-block-votes__part_stars{
	padding-left: 20px;
	padding-right: 15px;
}

.text-block__text{
	font-size: 14px;
	color: #646464;
	line-height: 25px;
}

/* red text block */
.text-block_red{
	position: relative;
	background: #f26c4f;
	padding: 40px 36px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d3d3d3
}

.text-block_red:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 4px;
	background: #ce4e32;
	content: "";
}

.text-block__head_red{
	font-size: 25px;
}


.text-block__link_red{
	text-decoration: none;
	color: white;
}

.text-block-votes_red{
	font-size: 10px;
	color: white;
}

.text-block-votes__part_red{
	position: relative;
	display: inline-block;
	height: 21px;
	line-height: 21px;
	padding: 0 26px;
}

.text-block-votes__part_red_first{
	padding-left: 0;
}

.text-block-votes__part_red_first:after{
	width: 0px;
	height: 0px;

}

.text-block-votes__part_red:after{
	position: absolute;
	width: 1px;
	background: white;
	left: 0;
	top: 0;
	bottom: 0;
	content: "";
}


.text-block-votes__part_red_last{
	padding-left: 0px;
}


.text-block-votes__part_red_last:after{
	width: 0px;
	height: 0px;
}


.text-block-votes__part_red_stars{
	padding-left: 20px;
	padding-right: 15px;
}

.text-block__text_red{
	font-size: 14px;
	color: white;
	line-height: 25px;
}

/* read more */
.read-more{
	font-size: 14px;
	margin-bottom: 10px;
	width: 100%;
	height: 75px;
}

.read-more_text{
	text-align: center;
	padding-top: 18px;
	padding-bottom: 32px;
	background: url("../images/plus_in_circle.png") bottom center no-repeat;
}

.read-more__link{
	text-decoration: none;
	color: #bdbdbd;
}

.read-more__link:hover{
	color: #7b7b7b;
}

.text-block_nice{
	padding: 36px;
	margin-bottom: 0;
}

.text-block_nice:before{
	width: 0;
	height: 0;
}

.text-block__head_nice{
	font-size: 30px;
	padding-bottom: 20px;
}

.text-block__text_nice{
	padding-bottom: 40px;
	line-height: 24px;
	font-weight: bold;
}
.text-block__text_nice:last-child{
	padding-bottom: 0px;
}

.text-block__link_nice{
	text-decoration: none;
	color: #707070;
}

.text-block-votes_nice{
	height: 42px;
	border-top: 1px solid #dedede;
	background: #efefef;
	padding: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	line-height: 42px;
}

.text-block__text_nice_ipsum{
	color: #f26c4f;
}

.text-block-votes__part_left{
	float: left;
	font-size: 12px;
	color: #b8b8b8;
	height: 42px;
	line-height: 42px;
}

.text-block-votes__part_rigth{
	float: right;
	font-size: 12px;
	height: 42px;
	color: #b8b8b8;
	background: url("../images/heart.png") right center no-repeat;
	line-height: 42px;
	padding-right: 22px;
	margin-right: 25px;
}

.text-block-votes__part_left:after,
.text-block-votes__part_rigth:after{
	width: 0;
	height: 0;
}

.text-block__text_nice_regular{
	font-weight: normal;
}

.text-block-with-image{
	width: 615px;
	margin-top: 20px;
	background: white; 
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 30px;
	padding: 0px;
}

.text-block-with-image:before{
	width: 0;
	height: 0;
}


.text-block-with-image__image{
	width: 100%;
	height: auto;
}

.text-block-with-image__text{
	padding: 40px 26px;
}

.text-block-with-image__desc{
	color: #b4b4b4;
}

.widget-block{
	float: right;
	width: 300px;
}

.pic-widget{
	width: 300px;
	background: #373737;
	position: relative;
}

.pic-widget:after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 70px 70px 0;
	border-color: transparent #f26c4f transparent transparent;
	cursor: pointer;
	z-index: 10;
}


.pic-widget__img{
	width: 100%;
}

.pic-widget__text{
	padding: 25px 25px 50px;
	color: white;
}

.pic-widget__header{
	font-size: 25px;
	margin-bottom: 20px;
}

.pic-widget__link{
	color: #fff;
	text-decoration: none;
}

.pic-widget__link:hover{
	color: #ccc;
}

.pic-widget__desc{
	font-size: 12px;
	line-height: 25px;	
}

.text-widget{
	padding: 35px 15px 25px;

}

.text-widget__header{
	font-size: 19px;
	margin-bottom: 25px;
}

.text-widget__link{
	color: #474747;
	text-decoration: none;
}

.text-widget__link{
	color: #7b7b7b;
}

.text-widget__text{
	font-size: 12px;
	margin-bottom: 15px;
	line-height: 25px;
	color: #7a7a7a;
}

.text-widget__date{
	font-size: 12px;
	color: #8f8f8f;
}

.delimiter-widget{
	margin: 0 15px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #f5f5f5;
}

.nav-widget__item{
	display: block;
	background: #fff;
	padding: 13px 22px;
	margin-bottom: 7px;
	border-left: 3px solid #cacaca;
	font: bold 16px; 
	text-decoration: none;
	color: #474747;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

.nav-widget__thin-text{
	font-weight: normal;
	color: #474747;
}

.nav-widget__person{
	font-size: 12px;
	font-weight: normal;
	padding-left: 7px;
	color: #7a7a7a;
}

.footer-block{
	height: 140px;
	background: #373737;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-nav{
	height: 40px;
	padding: 32px 0 10px;

}

.footer-nav__item{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	color: white;
	line-height: 40px;
	height: 40px;
	margin-right: 20px;
}

.footer-nav__item:hover{
	text-decoration: underline;
}

.footer-info__text{
	line-height: 21px;
	font-size: 11px;
	color: #7e7e7e;
}
