.slider {
	position: relative;
	margin: 50px auto;
	width: 800px;
	overflow: hidden;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.slides {
	overflow: hidden;
	transition: all .5s ease;
}

.slide {
	width: 800px;
	height: 500px;
	float: left;
}

.arrow {
	position: absolute;
	top: 50%;
	color: white;
	font-size: 3.5rem;
	transform: translate(0, -50%);
	cursor: pointer;
	opacity: 0;
	transition: all .5s;
}

.arrow-right {
	right: 20px;
}

.arrow-left {
	left: 20px;
}