body {
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
	background-image: url(images/back.jpg);
}

/*header*/
.header {
	height: 60px;
	background: #333;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	}

.header .menu {
	width: 1024px;
	margin: 0 auto;
}

.header .menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*clearfix*/
.header .menu ul:after {
	content: '';
	display: block;
	clear: both;
}

.header .menu ul li {
	float: left;
}

.header .menu li:last-child{
	float: right;
	background: green;
}

.header .menu ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 21px 22px;
}

.header .menu ul li a:hover {
	background: #4CAF50;
}

/*gallery*/
.gallery {
	width: 1024px;
	margin: 80px auto 20px;
}

.gallery:after {
	content: '';
	display: block;
	clear: both;
}

.image_1 {
	float: left;
	margin: 3px;
	background: #ccc;
	outline: 1px solid black;
	width: 250px;
}

.image_1 img { 
	width: 100%;
}

.image_1 div {
	text-align: center;
	padding: 15px;
}

.image_1:hover {
	background: #fff;
	outline: 1px solid grey;
}

.image_1:hover img {
	opacity: 0.8 ;
}

/*content*/ 
.content {
	width: 1024px;
	margin: auto;
	text-align: justify;
}

h1 {
	text-align: center;
}

.content .rightimg {
	padding-left: 15px;
	width: 300px;
	float: right;
}

.content .leftimg {
	padding-right: 15px;
	width: 300px;
	float: left;
}

/*footer*/
.footer {
	height: 60px;
	background: #333;
	position: relative bottom;
}

.footer .logo {
	width: 1024px;
	margin: auto;
	text-align: center;
}

.logo img {
	padding: 10px 7px ;
}
