@import url('reset.css');

@font-face {
	font-family: Nexa-Bold;
	src: url('../fonts/Nexa Bold.otf');
}

@font-face {
	font-family: Nexa-Light;
	src: url('../fonts/Nexa Light.otf');
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/* Header */

.header-logo {
	width: 100%;
	height: 66px;
	background: #373737;
}

.header-logo__content {
	width: 930px;
	margin: 0 auto;
	line-height: 66px;
}

.header-logo__text,
.header-logo__logo {
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;
}

.header-logo__text {
	color: #fff;
	font-family: Nexa-Light;
	margin-left: 5px;
}

/* Navigation */

.header-nav {
	width: 100%;
	height: 66px;
	background: #474747;
}

.header-nav__content {
	width: 930px;
	margin: 0 auto;
}

.nav {
	list-style-type: none;
	font-family: Arial;
}

.nav__item {
	float: left;
	padding: 25px 0;
}


.nav__link-wrapper {
	display: block;
	padding: 0 25px;
	border-right: 1px solid #767676;
	height: 11px;
	line-height: 11px;
}

.nav__link-wrapper_last {
	border: none;
}

.nav__link {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	position: relative;
}

.nav__link_active:after,
.nav__link:hover:after {
	content: '';
	position: absolute;
	display: block;
	height: 4px;
	background: #f26c4f;
	left: 0;
	right: 0;
	bottom: -27px;
}




