@font-face {
	font-family: KaushanScript;
	src: url('../fonts/KaushanScript-Regular.otf');
}

@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.otf');
	font-weight: normal;
}

@font-face {
	font-family: MonserratBold;
	src: url('../fonts/Montserrat-Bold.otf');
	font-weight: bold;
}

body, html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

header {
	position: relative;
	background: linear-gradient(to bottom, #f38181, #fce38a);
	height: 100%;
	widht: 100%;
	opacity: 0.9;
	z-index: 2;
 }


.eagle {
	position: absolute;
	height: 100%;
	background: url('../images/eagle.jpg') no-repeat center;
	background-size: cover;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
	opacity: 0.1;
}

.header {
	padding-bottom: 22.8%;
	height: 100%;
	

	&>h1 {
		font-family: KaushanScript;
		color: #fff;
		font-size: 4em;
		text-align: center;
		margin-top: 13.6%;
	}
	&>h2 {
		font-family: MonserratBold;
		font-size: 8.33em;
		color: white;
		text-transform: uppercase;
		text-align: center;
		line-height: 0.93em;
		margin: 2.66rem 0;
	}  
	&-logo {
		float: left;
		color: #fff;
		font-family: MonserratBold;
		font-size: 1.66em;
		padding: 1.55rem 0;
	}
	&-menu {
		float: right;
		font-family: Monserrat;
		font-size: 0.77em;
		text-transform: uppercase;
		padding: 2rem 0;
	}

	&-link {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;
		margin-left: 55px;
		position: relative;
		transition: all 0.3s;

		&:hover,
		&__active {
			color: #fce38a;
		}

		&:hover:after,
		&__active:after {
			content: '';	
			position: absolute;
			display: block;
			background: #fce38a;
			height: 2px;
			left: 0;
			right: 0;
			bottom: -12px;
		}

		&__cart,
		&__search {
			display: inline-block;
			width: 18px;
			height: 18px;

			&:hover:after {
				display: none;
			}
		}
		&__cart {
			background: url('../images/icons/SHOPPING-CART.png') no-repeat center;
		}
		&__search {
			background: url('../images/icons/MAGNIFYING-GLASS.png') no-repeat center;
		}



	}
}

.line {
	background: #fff;
	width: 60px;
	height: 3px;
	margin: 0 auto;
	display: block;
}

.button {
	display: inline-block;
	font-family: MonserratBold;
	font-size: 0.77em;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #fff;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	margin-top: 2.66rem;
	transition: all 0.3s;
	margin-left: 50%;
	transform: translate(-50%,0);

	&:hover {
		background: #f38181;
	}
}


.big-content {
	height: 1000px;
}