.button {
  border: none;
  background: #e0e0e0;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}
.button_info {
  background: #3b83c0;
  color: #fff;
}
.button_secondary {
  background: #404245;
  color: #fff;
}
.button_clicked {
  background: #e8e8e8;
  color: #333;
}
.button_info_clicked {
  background: #458ac6;
  color: #fff;
}
.button_secondary_clicked {
  background: #1b1c1d;
  color: #fff;
}
.button_xs-size {
  font-size: 10px;
  line-height: 20px;
  padding: 2px 4px;
}
.button_xl-size {
  font-size: 18px;
  line-height: 20px;
  padding: 10px 16px;
}
div {
  margin: 20px 0;
}
