@font-face{
    font-family: KaushanScript; /* Имя шрифта */
    src: url(../Font1/KaushanScript-Regular.otf); /* Путь к файлу со шрифтом */
   }
@font-face{
    font-family: MontserratAlternates-Bold; /* Имя шрифта */
    src: url(../Font/MontserratAlternates-Bold.otf); /* Путь к файлу со шрифтом */
   }
@font-face{
    font-family: Montserrat-Bold; /* Имя шрифта */
    src: url(../Font/Montserrat-Bold.otf); /* Путь к файлу со шрифтом */
   }
@font-face{
    font-family: MontserratAlternates-Regular; /* Имя шрифта */
    src: url(../Font/MontserratAlternates-Regular.otf); /* Путь к файлу со шрифтом */
   }
@font-face{
    font-family: Montserrat-Regular; /* Имя шрифта */
    src: url(../Font/Montserrat-Regular.otf); /* Путь к файлу со шрифтом */
   }
@font-face{
   font-family: Montserrat-Light; /* Имя шрифта */
    src: url(../Font/Montserrat-Light.otf); /* Путь к файлу со шрифтом */
  }  
  @font-face{
   font-family: Montserrat-Thin; /* Имя шрифта */
    src: url(../Font/Montserrat-Thin.otf); /* Путь к файлу со шрифтом */
  }

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

/*header*/

.header {
  background:url(../img/pic.png) no-repeat;
  height: 900px;
}

.header_logo{
  float: left;
  margin-top: 4%;
  margin-left: 13%;
  color: white;
  font-family: Montserrat-Bold;
}

.top-nav__links{
  float: right;
  margin-right: 13%;
  margin-top: 5%;
}
.top-nav__link{
  text-decoration: none;
  color: white;
  margin-right: 35px;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.top-nav__link_active,
.top-nav__link:hover{
  color:#fce38a;
  text-decoration: none;
  border-bottom-width: thick;
}

.header_article {
  float: right;
  margin-right: 22%;
  margin-top: 9%;
}

.header_article_title{
  font-family: KaushanScript;
  font-size: 45pt;
  color: white;
  margin-bottom: 40px;
  margin-left: 17%;

}

.header_article_title1{
  font-family: Montserrat-Bold;
  font-size: 105pt;
  text-transform: uppercase;
  margin-top: -75px; 
  color: white;
}

.title3{
  margin-left: 6%;
}

.line{
  font-family: arial;
  font-size: 20pt;
  margin-left: 42%;
  margin-top: 1%;
}

.header_button{
  width: 160px;
  height: 40px;
  border: 3px solid white;
  margin-top: 47%;
  margin-left: 42%;
}

.header_button_text{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
  margin-left: 30px;
 }

.header_button_text:hover{
  color: #fce38a;
  text-decoration: none;
}
.header_button:hover{
 background-color: white;
 color: #fce38a;
}
/*first block*/

.first_block{
  padding-top: 100px;
  height: 700px;
}

.first_block_text_title1{
  display: inline-block;
  padding-left: 43%;
  font-family: KaushanScript;
  font-size: 21pt;
}

.first_block_text_title2{
  font-family: Montserrat-Bold;
  font-size: 21pt;
  display: inline-block;
  padding-left: 38%;
  text-transform: uppercase;
  margin-top: 3px;
}


.first_block_text_line{
  font-family: arial;
  font-size: 20pt;
  margin-left: 45%;
  margin-top: -1%;
  color: #f38181;
}

.first_block_text_main{
  padding-top: 2%;
  padding-left: 12%;
}
.first_block_text_maintext{
  font-family: Montserrat-Light;
  font-size: 10pt;
  display: inline-block;
  padding-left: 10%;
  color: #999999;
}

.first_block_text_maintext2 {
  display: inline-block;
  padding-left: 12%;
}

.first_block_pictures{
  background: no-repeat;
  padding-top: 5%;
  margin-left: 6%;
  width: auto;
}

.first_block_pictures_pic1 {
  float: left;
  margin-right: 1%;
}

.first_block_pictures_pic2 {
  float: left;
  margin-right: 1%;
}

.first_block_pictures_pic3 {
  float: left;
}

/*second blue block*/

.second_block{
  height: 250px;
  background-color: #95e1d3;
  padding-top: 5%;
  padding-left: 12%;
}

.second_block_numbers{
  font-family: Montserrat-Bold;
  font-size: 43pt;
  color: white;
}

.second_block_number1 {
  float: left;
  margin-right: 11%;
}
.second_block_number2 {
  float: left;
  margin-right: 11%;
}
.second_block_number3 {
  float: left;
  margin-right: 11%;
}
.second_block_number4 {
  float: left;
  margin-right: 11%;
}
.second_block_number5 {
  float: left;
}

.second_block_text1{
  color: white;
  font-family: Montserrat-Light;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: -18%;
}
.second_block_text2{
  color: white;
  font-family: Montserrat-Light;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: 12%;
}
.second_block_text3{
  color: white;
  font-family: Montserrat-Light;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: -14%;
}
.second_block_text4{
  color: white;
  font-family: Montserrat-Light;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: -11%;
}
.second_block_text5{
  color: white;
  font-family: Montserrat-Light;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-left: -5%;
}

/*third block*/

.third_block{
  padding-top: 100px;
  height: 600px;
}

.third_block_text_title1{
  display: inline-block;
  padding-left: 43%;
  font-family: KaushanScript;
  font-size: 21pt;
}

.third_block_text_title2{
  font-family: Montserrat-Bold;
  font-size: 21pt;
  display: inline-block;
  padding-left: 38%;
  text-transform: uppercase;
  margin-top: 3px;
}


.third_block_text_line{
  font-family: arial;
  font-size: 20pt;
  margin-left: 45%;
  margin-top: -1%;
  color: #f38181;
}

/*third block article*/

.third_block_article{
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.third_block_article_1,
.third_block_article_2,
.third_block_article_3,
.third_block_article_4,
.third_block_article_5,
.third_block_article_6 {
  float: left;
  margin-right: 2.5%;
}


.third_block_article_1_pic1,
.third_block_article_2_pic2,
.third_block_article_3_pic3,
.third_block_article_4_pic4,
.third_block_article_5_pic5,
.third_block_article_6_pic6 {
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}


.third_block_article_1_text1,
.third_block_article_2_text2,
.third_block_article_3_text3,
.third_block_article_4_text4,
.third_block_article_5_text5,
.third_block_article_6_text6 {
  float: left;
}

/*.third_block_border {
  border-bottom: 1px solid grey;
  padding-top: 100px;
}*/

.third_block_article_4,
.third_block_article_5,
.third_block_article_6 {
  margin-top: 3%;
/*  border-top: 1px solid grey;
  padding-top: 3%;*/
}

.third_block_article_1_title,
.third_block_article_2_title,
.third_block_article_3_title,
.third_block_article_4_title,
.third_block_article_5_title,
.third_block_article_6_title {
  text-transform: uppercase;
  color: #333333;
  font-family: Montserrat-Bold;
  font-size: 9pt;
}

.third_block_article_1_text,
.third_block_article_2_text,
.third_block_article_3_text,
.third_block_article_4_text,
.third_block_article_5_text,
.third_block_article_6_text {
  font-family: Montserrat-Light;
  color: #b3b3b3;
  font-size: 9pt;
}

/*forth block*/

.forth_block{
  background:url("../img/Layer 45.png") no-repeat;
  height: 850px;
}

.forth_block_text{
 padding-top: 100px;
}

.forth_block_text_title1{
  display: inline-block;
  padding-left: 42%;
  font-family: KaushanScript;
  font-size: 21pt;
}

.forth_block_text_title2{
  font-family: Montserrat-Bold;
  font-size: 21pt;
  display: inline-block;
  padding-left: 40%;
  text-transform: uppercase;
  margin-top: 3px;
}


.forth_block_text_line{
  font-family: arial;
  font-size: 20pt;
  margin-left: 45%;
  margin-top: -1%;
  color: #f38181;
}

.forth_block_pic1 {
  margin-left: 26%;

}

.forth_block_pic2{
  height: 450px;
  margin-left: 57%;
  margin-top: -28%;
}

.fifth_block {
  height: 900px;
}

.fifth_block{
  padding-top: 100px;
  height: 700px;
}

.fifth_block_text_title1{
  display: inline-block;
  padding-left: 43%;
  font-family: KaushanScript;
  font-size: 21pt;
}

.fifth_block_text_title2{
  font-family: Montserrat-Bold;
  font-size: 21pt;
  display: inline-block;
  padding-left: 40%;
  text-transform: uppercase;
  margin-top: 3px;
}


.fifth_block_text_line{
  font-family: arial;
  font-size: 20pt;
  margin-left: 45%;
  margin-top: -1%;
  color: #f38181;
}

.fifth_block_text_main{
  padding-top: 2%;
  padding-left: 12%;
}
.fifth_block_text_maintext{
  font-family: Montserrat-Light;
  font-size: 10pt;
  display: inline-block;
  padding-left: 10%;
  color: #999999;
}

.fifth_block_text_maintext2 {
  display: inline-block;
  padding-left: 17%;
}




.footer_seaction3_cubic1,
.footer_seaction3_cubic2,
.footer_seaction3_cubic3, 
.footer_seaction3_cubic4,
.footer_seaction3_cubic5,
.footer_seaction3_cubic6,
.footer_seaction3_cubic7,
.footer_seaction3_cubic8,
.footer_seaction3_cubic9 {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

.footer_section3_cubic_line1{
  margin-left: 75%;

}
.footer_section3_cubic_line2{
  margin-left: 75%;
}
.footer_section3_cubic_line3{
  margin-left: 75%;
}
.footer_section3_cubic_line1
.footer_section3_cubic_line2
.footer_section3_cubic_line3 {
  float: right;
}

.footer_section1 {
  margin-left: 17%;
  width: 30%;
}

.footer_section2 {
  width: 25%;
}

.footer_section1,
.footer_section2,
.footer_section {
  float: left;
}

.footer_logo {
  font-family: Montserrat-Bold;
  color: #cccccc;
  font-size: 28pt;
}

.footer-text {
  color: #cccccc;
  font-family: Montserrat-Light;
  margin-top: 7%;
}

.footer-text_follow {
  margin-top: 10%;
  font-family: Montserrat-Light;
  color: black;
}

.footer_bold {
  font-family: Montserrat-Bold;
   font-size: 15pt;
   font-style: bold;
   margin-right: 1%;
   color: black;
}

/*search*/

.footer_li{
  display: inline-block;
  float: left;
  margin-right: 4%;
  margin-top: 5%;
}

.footer_follow{
  display: inline-block;
  float: left;
  font-family: Montserrat-Light;
  font-style: italic;
  color: #cccccc;
  margin-right: 5%;
  margin-top: 5%;
}

.footer_search__input {
  width: 200px;
  height: 40px;
  outline: none;
  box-sizing: border-box;
  margin-top: 6%;
}

.footer_search__input::-webkit-input-placeholder {
   font-family: Montserrat-Light;
   color: #cccccc;
   font-style: italic;
   margin-left: 3%;
}
.footer_button {
  height: 40px;
  width: 150px;
  background-color: #95e1d3;
  margin-left: 49%;
  margin-top: -10%;
  color: white;
  text-align: center;
  padding-top: 2.6%;
  text-transform: uppercase;
  font-family:Montserrat-Light; 
}
.footer_section2_blog1, .footer_section2_blog2, .footer_section2_blog3{
  float: left;
}
.footer_section2_blog1, .footer_section2_blog2{
  margin-bottom: 5%;
}
.footer_section_blog_pic{
  float: left;
  margin-top: 5%;
}

.footer_section_blog_text{
  float: left;
  margin-top: 11%;
  margin-left: 5px;
  font-family:Montserrat-Light;
  color: black;
}

.footer_section2_blog_date {
  margin-left: 5%;
}

.footer_section2_title, .footer_section3_title{
  font-family:Montserrat-Light;
  color: black;
  text-transform: uppercase;
  font-size: 10pt;
  font-style: bold;
}

.footer_section3_title{
    margin-top: 20px;
    display: inline-block;
    margin-left: 3%;
}
.footer_section3{
  margin-top: 50px;
}
.footer_section2_blog_text{
  font-family:Montserrat-Light;
  color: black;
  font-size: 9pt;
  text-transform: uppercase;
}
.accordion {
  width: 450px;
  height: 450px;
  float: right;
  margin-right: 15.4%;
}

.accordion_img{
background:url("../img/Layer 43.png") no-repeat; 
height: 370px;
width: 450px;
float: left;
margin-left: 15.4%;
background:cover;
padding-left: 35%;
}

.accordion_main {
  margin-top: 100px;
}

.accordion_title {
  font-family:Montserrat-Light; 
  color: black;
  text-transform: uppercase;
  font-size: 8pt;
  font-style: bold;
  margin-left: 3%;
}

.myCarousel {
  height: 200px;
  width: auto;
  margin: 100px auto;
  background-color: #f8f8f8;
}
.carousel-inner {
    height: 400px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
  margin-top: -20%;
}
.carousel_img1{
  margin-left: 31%;
}
.carousel_img{

  border:2px solid #95e1d3;
  padding: 10px;
}

.carousel_text{
  margin-left: 30%;
  margin-top: -2%;
  font-family: Montserrat-Light;
  font-size: 9pt;
  color: #cccccc;
  font-style: italic;
  letter-spacing: 0.4px;
  margin-left: 41%;
  margin-top: -4%;
}

.carousel_joe {
  color: black;
  font-family: KaushanScript;
  font-style: italic;
  font-size: 11pt;
  margin-left:2%;
  }

 